@model IEnumerable<RecipeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Add to my recipes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalorieCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalorieCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Ingredients", "Index", "Ingredient", new {  id=item.ID}) |
              
            </td>
        </tr>
}
    </tbody>
</table>
